* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.no-select {
    user-select: none;
}


.section-one {
    background: #095869;
    height: 100vh;
    width: 100vw;
}

.section-one-circle {
    background: #095869;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: calc(1189/1440 * 100%);
    aspect-ratio: 1 / 1;
    left: calc(121/1440 * 100%);
    top: -312px;    
    border: white 10px;
}



.cryptex-image {
    position: absolute;
    width: calc(373/1440 * 100%);
    height: 280px;
    left: calc(534/1440 * 100%);
    top: 224px;
}

.section-one-heading {
    position: absolute;
    width: calc(219/1440 * 100%);
    /* height: 40px; */
    aspect-ratio: 219 / 40;
    left: calc(611/1440 * 100%);
    top: 448px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #E5B850;
}

.section-one-heading::selection {
    background: #E5B850;
    color: #095869;
}

.btn-about {

    position: absolute;
    width: calc(184.18/1440 * 100%);
    /* height: 62px; */
    aspect-ratio: 184.18 / 62;
    left: calc(267/1440 * 100%);
    top: 210px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #FFD25A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}

.btn-howtoplay {
    position: absolute;
    width: calc(180.18/1440 * 100%);
    /* height: 69.79px; */
    aspect-ratio: 180.18 / 69.79;
    left: calc(265/1440 * 100%);
    top: 472px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #FFD25A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}

.btn-register {
    position: absolute;
    width: calc(198/1440 * 100%);
    /* height: 70.98px; */
    aspect-ratio: 198 / 70.98;
    left: calc(621/1440 * 100%);
    top: 652px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #EAC155;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}

.btn-contact {
    position: absolute;
    width: calc(184.18/1440 * 100%);
    /* height: 70px; */
    aspect-ratio: 184.18 / 70;
    left: calc(975/1440 * 100%);
    top: 472px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #FFD25A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}

.btn-legacy {
    position: absolute;
    width: calc(184.18/1440 * 100%);
    /* height: 62px; */
    aspect-ratio: 184.18 / 62;
    left: calc(975/1440 * 100%);
    top: 210px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #FFD25A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}


.section-one-btn-text {
    text-decoration: none;
    color: initial;
    width: calc(184/1440 * 100%);
    /* height: 62px; */
    aspect-ratio: 184 / 62;
    left: calc(267/1440 * 100%);
    top: 210px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 35px;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
}

@keyframes maze-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-maze {
    position: absolute;
    width: calc(1288/1440% * 100%);
    /* height: 1266px; */
    aspect-ratio: 1288 / 1266;
    /* left: calc(0/1440 * 100%); */
    left: 120px;
    top: -250px;
    z-index: 1;
    animation: maze-rotate 1000s linear 0s infinite normal;
}

.cryptex-logo {
    position: fixed;
    width: calc(59/1440 * 100%);
    height: 82px;
    left: calc(25/1440 * 100%);
    top: 16px;
    z-index: 99;
}

.elan-logo {
    position: absolute;
    width: calc(165/1440 * 100%);
    height: 130px;
    left: calc(1275/1440 * 100%);
    top: 0px;
    z-index: 99;
}






.section-two {
    background: #FFF4CC;
    height: 766px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.section-two-text-one {

    
    /* width: 983px;
    height: 210px; */
    padding-left: max(17vw, 2rem);
    padding-right: max(17vw, 2rem);
    /* left: 228px; */
    /* top: 1163px; */

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    color: #57471C;
}

.section-two-text-one::selection {
    background: #57471C;
    color: #FFF4CC;
}


.section-two-text-two {
    /* position: absolute; */
    /* width: 983px;
    height: 210px; */
    /* left: 228px; */
    /* top: 1300px; */
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;

    color: #57471C;
}

.section-two-text-two::selection {
    background: #57471C;
    color: #FFF4CC;
}


.maze-three {
    position: absolute;
    
    left: 1147px;
    top: 1322px;

}

.section-three {
    background: #FFFFFF;
    height: 1288px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 99;
}

.section-three-circle-one {
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-12.5%);
    width: max(500px,67vw);
    aspect-ratio: 1 / 1;
    z-index: 1;
}

.section-three-circle-two {
    background: #FFFFFF;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -87.5%);
    width: max(500px,67vw);
    aspect-ratio: 1 / 1;
    z-index: 1;
}

.section-three-heading {
    /* position: absolute; */
    /* width: 473px;
    height: 64px;
    left: 484px;
    top: 1679px; */
    /* width: 1204px;
    height: 1204px;
    left: 118px;
    top: 1488px; */
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(24px, 30vw, 60px);
    line-height: 100.39%;
    text-align: center;
    color: #035D71;
    z-index: inherit;
    padding-left: max(17vw, 2rem);
    padding-right: max(17vw, 2rem);
}

.section-three-heading::selection {
    background: #035D71;
    color: #FFFFFF;
}

.section-three-text-one {
    /* position: absolute; */
    /* width: 372px;
    height: 28px;
    left: 693px;
    top: 1777px; */

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    text-align: right;

    color: #2D291F;
    z-index: inherit;
    padding-left: max(17vw, 2rem);
    padding-right: max(17vw, 2rem);
}

.section-three-text-two {
    /* position: absolute; */
    /* width: 710px;
    height: 83px;
    left: 365px;
    top: 1849px; */

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #2D291F;
    z-index: inherit;
    padding-left: max(17vw, 2rem);
    padding-right: max(17vw, 2rem);
}


.section-three-text-three {
    /* position: absolute; */
    /* width: 529px;
    height: 122px;
    left: 456px;
    top: 1966px; */

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #2D291F;
    z-index: inherit;
    padding-left: max(17vw, 2rem);
    padding-right: max(17vw, 2rem);
}

.section-three-text-four {
    /* position: absolute; */

    /* width: 921px;
    height: 50px;
    left: 259px;
    top: 2202px; */

    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    /* identical to box height */

    text-align: center;

    color: #035D71;
    z-index: inherit;
    padding-left: max(17vw, 2rem);
    padding-right: max(17vw, 2rem);
}

.maze-two {
    position: absolute;
    left: 0px;
    top: 1700px;

    /* transform: rotate(-144.55deg); */
}

.questions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
    z-index: inherit;
}

.sample-question-one {
    /* position: absolute; */
    width: 286px;
    height: 403px;
    left: 257px;
    top: 2291px;

    background: #B1B1B1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    z-index: inherit;
}

.sample-question-two {
    /* position: absolute; */
    width: 286px;
    height: 403px;
    left: 580px;
    top: 2289px;

    background: #B1B1B1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    z-index: inherit;
}


.sample-question-three {
    /* position: absolute; */
    width: 285px;
    height: 403px;
    left: 898px;
    top: 2290px;

    background: #B1B1B1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    z-index: inherit;
}




.section-three-text-five {
    /* position: absolute; */
    /* width: 451px;
    height: 74px;
    left: 496px;
    top: 2750px; */

    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    padding-left: max(17vw, 1rem);
    padding-right: max(17vw, 1rem);

    color: #000000;
    z-index: inherit;
}

.section-three-text-one::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-three-text-two::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-three-text-three::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-three-text-four::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-three-text-five::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-four {
    background: #FFF4CC;
    height: 1136px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    position: relative;
}


.section-four-circle {
    background: #095869;
    border-radius: 50%;
    display: block;
    position: absolute;
    width: max(500px,67vw);
    aspect-ratio: 1 / 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-12.5%);
}


.section-four-heading {
    
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;

    color: #001A28;
}


.section-four-heading::selection {
    background: #57471C;
    color: #FFF4CC;
}

.legacy-box-text::selection {
    background: #C2863E;
    color: #FFFFFF;
}


.section-five {
    background: #095869;
    height: 376px;
    overflow: hidden;
}

.section-five-heading {
    position: absolute;
    width: 218px;
    height: 42px;
    left: 614px;
    top: 4037px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #FFFFFF;
}

.section-five-links {
    position: absolute;
    width: 193px;
    height: 160px;
    left: 627px;
    top: 4100px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}


.section-five-links a:visited {
    color: #FFFFFF;
}


.section-five-heading::selection {
    color: #035D71;
    background: #FFFFFF;
}

.instagram-logo {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 537px;
    top: 4242px;
}

.discord-logo {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 692px;
    top: 4242px;
}

.email-logo {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 851px;
    top: 4242px;
}