* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.no-select {
    user-select: none;
}


.section-one {
    background: #095869;
    height: 100vh;
    width: 100vw;
}

.section-one-circle {
    background: #095869;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: calc(1189/1440 * 100%);
    aspect-ratio: 1 / 1;
    left: calc(121/1440 * 100%);
    top: -312px;    
    border: white 10px;
}



.cryptex-image {
    position: absolute;
    width: calc(373/1440 * 100%);
    height: 280px;
    left: calc(534/1440 * 100%);
    top: 224px;
}

.section-one-heading {
    position: absolute;
    width: calc(219/1440 * 100%);
    /* height: 40px; */
    aspect-ratio: 219 / 40;
    left: calc(611/1440 * 100%);
    top: 448px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #E5B850;
}

.section-one-heading::selection {
    background: #E5B850;
    color: #095869;
}

.btn-about {

    position: absolute;
    width: calc(184.18/1440 * 100%);
    /* height: 62px; */
    aspect-ratio: 184.18 / 62;
    left: calc(267/1440 * 100%);
    top: 210px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #FFD25A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}

.btn-howtoplay {
    position: absolute;
    width: calc(180.18/1440 * 100%);
    /* height: 69.79px; */
    aspect-ratio: 180.18 / 69.79;
    left: calc(265/1440 * 100%);
    top: 472px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #FFD25A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}

.btn-register {
    position: absolute;
    width: calc(198/1440 * 100%);
    /* height: 70.98px; */
    aspect-ratio: 198 / 70.98;
    left: calc(621/1440 * 100%);
    top: 652px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #EAC155;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}

.btn-contact {
    position: absolute;
    width: calc(184.18/1440 * 100%);
    /* height: 70px; */
    aspect-ratio: 184.18 / 70;
    left: calc(975/1440 * 100%);
    top: 472px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #FFD25A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}

.btn-legacy {
    position: absolute;
    width: calc(184.18/1440 * 100%);
    /* height: 62px; */
    aspect-ratio: 184.18 / 62;
    left: calc(975/1440 * 100%);
    top: 210px;

    background: linear-gradient(253.59deg, rgba(206, 133, 47, 0.134) 44.74%, rgba(194, 134, 62, 0.174) 54.03%, rgba(0, 0, 0, 0) 60.59%), #FFD25A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 100;
}


.section-one-btn-text {
    text-decoration: none;
    color: initial;
    width: calc(184/1440 * 100%);
    /* height: 62px; */
    aspect-ratio: 184 / 62;
    left: calc(267/1440 * 100%);
    top: 210px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 35px;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
}

@keyframes maze-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-maze {
    position: absolute;
    width: calc(1288/1440% * 100%);
    /* height: 1266px; */
    aspect-ratio: 1288 / 1266;
    /* left: calc(0/1440 * 100%); */
    left: 120px;
    top: -250px;
    z-index: 1;
    animation: maze-rotate 1000s linear 0s infinite normal;
}

.cryptex-logo {
    position: fixed;
    width: calc(59/1440 * 100%);
    height: 82px;
    left: calc(25/1440 * 100%);
    top: 16px;
    z-index: 99;
}

.elan-logo {
    position: absolute;
    width: calc(165/1440 * 100%);
    height: 130px;
    left: calc(1275/1440 * 100%);
    top: 0px;
    z-index: 99;
}






.section-two {
    background: #FFF4CC;
    height: 766px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.section-two-text-one {

    
    /* width: 983px;
    height: 210px; */
    padding-left: max(17vw, 2rem);
    padding-right: max(17vw, 2rem);
    /* left: 228px; */
    /* top: 1163px; */

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    color: #57471C;
}

.section-two-text-one::selection {
    background: #57471C;
    color: #FFF4CC;
}


.section-two-text-two {
    /* position: absolute; */
    /* width: 983px;
    height: 210px; */
    /* left: 228px; */
    /* top: 1300px; */
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;

    color: #57471C;
}

.section-two-text-two::selection {
    background: #57471C;
    color: #FFF4CC;
}


.maze-three {
    position: absolute;
    
    left: 1147px;
    top: 1322px;

}

.section-three {
    background: #FFFFFF;
    height: 1288px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 99;
}

.section-three-circle-one {
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-15%);
    width: max(500px,67vw);
    aspect-ratio: 1 / 1;
    z-index: 1;
}

.section-three-circle-two {
    background: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 1204px;
    height: 1204px;
    left: 120px;
    top: 1824px;
    z-index: inherit;
}

.section-three-heading {
    /* position: absolute; */
    width: 473px;
    height: 64px;
    left: 484px;
    top: 1679px;
    /* width: 1204px;
    height: 1204px;
    left: 118px;
    top: 1488px; */
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100.39%;
    text-align: center;
    color: #035D71;
    z-index: inherit;
}

.section-three-heading::selection {
    background: #035D71;
    color: #FFFFFF;
}

.section-three-text-one {
    /* position: absolute; */
    width: 372px;
    height: 28px;
    left: 693px;
    top: 1777px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    text-align: right;

    color: #2D291F;
    z-index: inherit;
}

.section-three-text-two {
    /* position: absolute; */
    width: 710px;
    height: 83px;
    left: 365px;
    top: 1849px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #2D291F;
    z-index: inherit;
}


.section-three-text-three {
    /* position: absolute; */
    width: 529px;
    height: 122px;
    left: 456px;
    top: 1966px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #2D291F;
    z-index: inherit;
}

.section-three-text-four {
    /* position: absolute; */

    width: 921px;
    height: 50px;
    left: 259px;
    top: 2202px;

    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    /* identical to box height */

    text-align: center;

    color: #035D71;
    z-index: inherit;
}

.maze-two {
    position: absolute;
    /* width: 424.14px;
    height: 413.55px; */
    left: 0px;
    top: 1700px;

    /* transform: rotate(-144.55deg); */
}

.questions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
    z-index: inherit;
}

.sample-question-one {
    /* position: absolute; */
    width: 286px;
    height: 403px;
    left: 257px;
    top: 2291px;

    background: #B1B1B1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    z-index: inherit;
}

.sample-question-two {
    /* position: absolute; */
    width: 286px;
    height: 403px;
    left: 580px;
    top: 2289px;

    background: #B1B1B1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    z-index: inherit;
}


.sample-question-three {
    /* position: absolute; */
    width: 285px;
    height: 403px;
    left: 898px;
    top: 2290px;

    background: #B1B1B1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    z-index: inherit;
}




.section-three-text-five {
    /* position: absolute; */
    width: 451px;
    height: 74px;
    left: 496px;
    top: 2750px;

    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-align: center;

    color: #000000;
    z-index: inherit;
}

.section-three-text-one::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-three-text-two::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-three-text-three::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-three-text-four::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-three-text-five::selection {
    background: #C2863E;
    color: #FFFFFF;
}

.section-four {
    background: #FFF4CC;
    height: 1136px;
    width: 100vw;
    overflow: hidden;
}


.section-four-circle {
    background: #095869;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 1204px;
    height: 1204px;
    left: 121px;
    top: 1034px;
}


.section-four-heading {
    position: absolute;
    width: 199px;
    height: 80px;
    left: 595px;
    top: 3146px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;

    color: #001A28;
}

/* .legacy-box-one {
    position: absolute;
    width: 335px;
    height: 197px;
    left: 198px;
    top: 3286px;

    background: #FFFFFF;
    border-radius: 3px;
} */

/* .legacy-box-one-heading {
    position: relative;
    width: 76px;
    height: 30px;
    left: 29px;
    top: 25px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px; */
/* identical to box height */

/* text-align: center;

    color: #000000;
} */

/* .legacy-box-one-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 50px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
} */


.legacy-card-one {
    position: absolute;
    width: 335px;
    height: 197px;
    left: 198px;
    top: 3286px;
    float: left;
    perspective: 500px;
}

.legacy-card-one-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.legacy-card-one:hover .legacy-card-one-content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.legacy-card-one-front,
.legacy-card-one-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;


}

.legacy-card-one-back {
    /* background: #03446A;
    color: white; */
    transform: rotateY(180deg);

}

.legacy-card-one-front-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 77px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.legacy-card-one-back-text {

    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 50px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}





.legacy-box-two {
    position: absolute;
    width: 335px;
    height: 231px;
    left: 198px;
    top: 3500px;

    background: #FFFFFF;
    border-radius: 3px;
}


.legacy-box-two-heading {
    position: absolute;
    width: 225px;
    height: 31.22px;
    left: 23px;
    top: 25px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.legacy-box-two-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 23px;
    top: 77px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(2rem, 2rem + 2%, 3rem);
    line-height: 21px;

    color: #000000;
}


.legacy-card-two {
    position: absolute;
    width: 335px;
    height: 231px;
    left: 198px;
    top: 3500px;
    float: left;
    perspective: 500px;
}

.legacy-card-two-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.legacy-card-two:hover .legacy-card-two-content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.legacy-card-two-front,
.legacy-card-two-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;


}

.legacy-card-two-back {
    /* background: #03446A;
    color: white; */
    transform: rotateY(180deg);

}

.legacy-card-two-front-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 77px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.legacy-card-two-back-text {

    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 50px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}





/* .legacy-box-three {
    position: absolute;
    width: 335px;
    height: 253px;
    left: 553px;
    top: 3286px;

    background: #FFFFFF;
    border-radius: 3px;
}



.legacy-box-three-heading {
    position: absolute;
    width: 225px;
    height: 31.22px;
    left: 31px;
    top: 25px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.legacy-box-three-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 31px;
    top: 75px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
} */


.legacy-card-three {
    position: absolute;
    width: 335px;
    height: 253px;
    left: 553px;
    top: 3286px;
    float: left;
    perspective: 500px;
}

.legacy-card-three-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.legacy-card-three:hover .legacy-card-three-content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.legacy-card-three-front,
.legacy-card-three-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;


}

.legacy-card-three-back {
    /* background: #03446A;
    color: white; */
    transform: rotateY(180deg);

}

.legacy-card-three-front-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 77px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.legacy-card-three-back-text {

    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 50px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

/* .legacy-box-four {
    position: absolute;
    width: 335px;
    height: 175px;
    left: 552px;
    top: 3556px;
    
    background: #FFFFFF;
    border-radius: 3px; 
}

.legacy-box-four-heading {
    position: absolute;
    width: 225px;
    height: 31.22px;
    left: 30px;
    top: 25px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* text-align: center; */

/* color: #000000; */
/* } */

/* .legacy-box-four-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 30px;
    top: 67px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}  */


.legacy-card-four {
    position: absolute;
    width: 335px;
    height: 175px;
    left: 552px;
    top: 3556px;
    float: left;
    perspective: 500px;
}

.legacy-card-four-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.legacy-card-four:hover .legacy-card-four-content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.legacy-card-four-front,
.legacy-card-four-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;


}

.legacy-card-four-back {
    /* background: #03446A;
    color: white; */
    transform: rotateY(180deg);

}

.legacy-card-four-front-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 77px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.legacy-card-four-back-text {

    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 50px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}





/* .legacy-box-five {
    position: absolute;
    width: 336px;
    height: 445px;
    left: 907px;
    top: 3286px;

    background: #FFFFFF;
    border-radius: 3px;
}

.legacy-box-five-heading {
    position: absolute;
    width: 225px;
    height: 31.22px;
    left: 30px;
    top: 28px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* text-align: center; */

/* color: #000000;  */
/* } */

/* .legacy-box-five-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 30px;
    top: 75px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}  */


.legacy-card-five {
    position: absolute;
    width: 336px;
    height: 445px;
    left: 907px;
    top: 3286px;
    float: left;
    perspective: 500px;
}

.legacy-card-five-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.legacy-card-five:hover .legacy-card-five-content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.legacy-card-five-front,
.legacy-card-five-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;


}

.legacy-card-five-back {
    /* background: #03446A;
    color: white; */
    transform: rotateY(180deg);

}

.legacy-card-five-front-text {
    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 180px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.legacy-card-five-back-text {

    position: relative;
    width: 267px;
    height: 94px;
    left: 29px;
    top: 50px;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}






.section-four-heading::selection {
    background: #57471C;
    color: #FFF4CC;
}

.legacy-box-text::selection {
    background: #C2863E;
    color: #FFFFFF;
}






.section-five {
    background: #095869;
    height: 376px;
    overflow: hidden;
}

.section-five-heading {
    position: absolute;
    width: 218px;
    height: 42px;
    left: 614px;
    top: 4037px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #FFFFFF;
}

.section-five-links {
    position: absolute;
    width: 193px;
    height: 160px;
    left: 627px;
    top: 4100px;

    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}


.section-five-links a:visited {
    color: #FFFFFF;
}


.section-five-heading::selection {
    color: #035D71;
    background: #FFFFFF;
}

.instagram-logo {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 537px;
    top: 4242px;
}

.discord-logo {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 692px;
    top: 4242px;
}

.email-logo {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 851px;
    top: 4242px;
}